.header{
    text-align: center;
    font-size: 45px;
    color:black;

}

.link-container{
    font-size: 30px;
    color:blue;
    border: solid black;
    background-color: aqua;
}

.pdf{
    width: 100%;
    height: 1000%;
    border:2px solid black;
}